[Unit]
Description=DHCP API server
After=network.target networking.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/dhcp-api --slave --allow-slave
LimitNOFILE=102400
LimitNPROC=65535

[Install]
WantedBy=multi-user.target
